CONTAINER_NAME=hermes-personal

HERMES_VOLUME_HOME=hermes-personal-home
HERMES_VOLUME_SRC=hermes-personal-src
HERMES_VOLUME_WORKSPACE=hermes-personal-workspace

OPENROUTER_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=